/* -- admission --*/
.admission{
	padding:5em 0;
}
.admission h1{
	color:#000;
	font-size:2em;
	margin-bottom:0.5em;
}
.admission p{
	color:#777;
	font-size:0.95em;
	line-height:1.8em;
	margin-bottom:2em;
}
.admission_left{
	padding-left:0;
}
.admission_left h2, .admission_right h3{
	font-size:1.5em;
	color:#000;
	margin-bottom:1em;
}
.admission_right{
	padding-right:0;
}
.admission-alert {
    background: #d1d1d1;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px 11px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.admission-alert.info {
    background:#8ED4FF;
}
.admission-alert.success {
    background:#A1D859;
}
.admission-alert.warning {
    background:#F9CC6C;
}
.admission-alert.danger {
    background: #ff8888;
}
.admission-alert .close {
    right: -2px;
    color: #FFFFFF;
    opacity: .8;
    top: 1px;
    outline:none;
    width: 30px;
}
.advantage, .admission, .services, .service_3, .features{
    padding: 3em 0;
}
.admission_right {
    padding: 0;
    margin: 2em 0;
}
.faculty_grid{
	margin-bottom:2em;
}

.faculty_top{
	margin-bottom:2em;
}
figure.team_member {
    position: relative;
    overflow: hidden;
    color: #fff;
}
figure.team_member img + div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(to top, rgba(0,0,0,.3) 5%, rgba(0,0,0,.1) 90%);
    background-image: -moz-linear-gradient(to top, rgba(0,0,0,.3) 5%, rgba(0,0,0,.1) 90%);
    background-image: -ms-linear-gradient(to top, rgba(0,0,0,.3) 5%, rgba(0,0,0,.1) 90%);
    background-image: -o-linear-gradient(to top, rgba(0,0,0,.3) 5%, rgba(0,0,0,.1) 90%);
    background-image: linear-gradient(to top, rgba(0,0,0,.3) 5%, rgba(0,0,0,.1) 90%);
}
figure.team_member figcaption {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
figure.team_member figcaption h3 {
    margin: 0 0 8px 0;
}
figure.team_member figcaption h3 a, figure.team_member figcaption p a{
	color: #fff;
}
figure.team_member figcaption h3 a:hover, figure.team_member figcaption p a:hover, ul.social-person li a:hover{
	color:#f1b458;
}
figure.team_member figcaption span {
    margin-bottom: 15px;
    display: block;
}
p.person-deg1{
	margin-bottom:20px !important;
}
figure.team_member figcaption p {
    margin-bottom: 0;
    color: #fff;
}
.person-social {
    position: relative;
    left: 700px;
    color: #fff;
}
ul.social-person {
    float: left;
    margin-top: -5px;
    padding-left: 0;
}
.social-person {
    list-style: none;
    padding: 0;
    margin-top: -5px;
}
ul.social-person li {
    list-style: none;
    display: inline;
    margin-right: 15px;
	
}
ul.social-person li a {
    color: #fff;
}
.title-variation1 .style-title1, .course-details .cousre-details-img .course-title, figure.themeumlms-course-img figcaption, figure.team_member:hover figcaption {
    background-color:rgba(47, 55, 76, 0.71);
	
}
figure.team_member:hover figcaption {
    top: 0;
}
figure.team_member:hover .person-social {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
figure.team_member:hover p, figure.team_member:hover .person-social {
    left: 0;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}
figure, figcaption, img, h2, p, i, .person-social {
    -webkit-transition: all .5s;
    transition: all .5s;
}

